.all-homem {
  width: 100%;

  background-color: #f6f6eb;
}

.header-botm {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.traim {
  flex: 1;
  height: 300px;
  margin-left: 60px;
  margin-top: 60px;
}
.phaim {
  margin-left: -300px;
  flex: 1;
  height: 600px;
  background-image: url("https://images.getstark.co/marketing/headers/mac.webp");

  background-size: 800px;
  background-repeat: no-repeat;
  position: relative;
}
.trai-headerm {
  text-align: left;
  color: #3a1fd3;
  font-weight: 400;
  font-size: 20px;
}
.trai-bodym {
  width: 500px;
  color: #10284b;
  font-size: 64px;
  text-align: left;
  font-weight: 900;
  margin: 0;
}
.trai-textm {
  width: 460px;
  text-align: left;
  color: #10284b;
  line-height: 30px;
}
.trai-btnm {
  margin-top: 30px;
  text-align: left;
  display: flex;
  align-items: flex-start;
}
.btn1m,
.btn2m {
  padding: 10px 24px;
  border-radius: 5px;
}
.btn1m {
  font-size: 14px;
  color: #757454;
  background-color: #fedb63;
}
.btn1m:hover {
  opacity: 0.8;
}
.btn2m {
  background-color: transparent;
  color: #7261d8;
  border: 2px solid #7261d8;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.btn2m:hover {
  background-color: #fedb63;
  color: #757454;
}
.imgm {
  margin-top: -20px;
  margin-left: 30px;
  width: 150px;
  height: 150px;
}
.imggm {
  opacity: 0;
  width: 60px;
  position: absolute;
  top: 425px;
  left: 50px;
  animation: hien 1s linear 4s forwards;
}
.imgg2m {
  opacity: 0;
  width: 60px;
  height: 70px;
  position: absolute;
  top: 423px;
  right: 16px;
  animation: hien 1s linear 2s forwards;
}

@keyframes hienm {
  tom {
    opacity: 1;
  }
}
.home-maum {
  margin-top: 40px;
}
.home-timm {
  width: 445px;
  margin-top: -100px;
}
.home-xanhm {
  margin-top: 160px;
}
.home-ttm {
  width: 1300px;
  margin: 0 auto;
}
.home-h1m {
  width: 900px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 20px;
}
.home-pm {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  width: 570px;
  line-height: 28px;
}
.home-h11m {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}
.home-xuongm {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.home-autm {
  width: 1000px;
  position: absolute;
  top: 70px;
  left: 170px;
}
.home-autm img {
  width: 100%;
  height: 650px;
  border-radius: 20px;
}
.home-autm .video-containerm {
  width: 100%;
  height: 650px;
  border-radius: 20px;
  z-index: 100;
}
.nuttm {
  position: absolute;
  top: 300px;
  left: 47%;
}
.video-containerm .wim {
  border-radius: 20px;
}
.flexm {
  display: flex;
  align-items: center;
}
.companies__scrollm {
  overflow: hidden;
  animation: truot 240s linear infinite;
  width: max-content;
  margin: 100px 0;
}
.companies__scrollm svg {
  flex-shrink: 0;
  margin: 0 50px;
}
.ckm {
}
@keyframes truot {
  100% {
    transform: translateX(-5091px);
  }
}
.cotm {
  text-align: left;
}
.cot1m {
  display: flex;
  justify-content: right;
}
.col-imgm {
}
.col-imgm img {
  margin-top: -10px;
  margin-left: 50px;
  width: 515px;
  height: 600px;
}
/* @keyframes lenm {
    fromm {
      margin-top: 75px;
    }
    tom {
      margin-top: 35px;
    }
  } */

.h11m {
  font-size: 50px;
  font-weight: 900;

  margin: 0 auto;
}
.ppm {
  font-size: 14px;
  font-weight: 500;
  width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}
.col-btnm {
  font-size: 16px;
  color: #fff;
  background-color: #3a1fd3;
  padding: 6px 50px;
  border-radius: 5px;
}
.lm {
  margin-bottom: 50px;
}
